body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

#charts-container {
    width: 100%;
    margin: 0 auto;
}


label {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

select {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 5px;
}


/* styles.css */

/* Team Colors */
.team-color-lcz {
    background-color: rgb(1, 153, 218);
}

.team-color-stb {
    background-color: rgb(45, 45, 45);
}

.team-color-lgzuri {
    background-color: rgb(21, 45, 150);
}

.team-color-lgregio {
    background-color: rgb(233, 233, 46);
}

.team-color-lcs {
    background-color: rgb(156, 157, 159);
}

.team-color-stadeg {
    background-color: rgb(248, 219, 30);
}

.team-color-coa {
    background-color: rgb(2, 145, 169);
}

.team-color-lgt {
    background-color: rgb(216, 35, 42);
}

.team-color-lvw {
    background-color: rgb(225, 55, 43);
}

.team-color-lglzo {
    background-color: rgb(19, 134, 236);
}

.team-color-btva {
    background-color: rgb(198, 51, 35);
}

.team-color-lgot {
    background-color: rgb(14, 168, 77);
}

.team-color-lgot {
    background-color: rgb(14, 168, 77);
}

.team-color-coalr {
    background-color: rgb(1, 54, 165);
}

.team-color-tvl {
    background-color: rgb(180, 0, 36);
}

.team-color-lcbla {
    background-color: rgb(91, 164, 98);
}

.team-color-lgnslu {
    background-color: rgb(26, 128, 182);
}

.team-color-fsga {
    background-color: rgb(182, 55, 66);
}

.team-color-tvw {
    background-color: rgb(204, 0, 0);
}

.team-color-lcf {
    background-color: rgb(230, 80, 0);
}

.team-color-lgke {
    background-color: rgb(40, 51, 74);
}

/* Podium Colors */
.podium-color-gold {
    background-color: rgb(255, 215, 0);
}

.podium-color-silver {
    background-color: rgb(192, 192, 192);
}

.podium-color-bronze {
    background-color: rgb(205, 127, 50);
}

/* styles.css */

/* Team Colors */
.team-color-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #000;
}

.team-color-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}

/* Fix the header when scrolling */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* Styling for the Erklärung section */
.erklaerung {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

/* Styling for the footer */
footer {
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-left {
    flex: 1;
    text-align: left;
    padding-left: 20px;
}

.footer-right {
    flex: 1;
    text-align: right;
    padding-right: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}